:ng-deep {
  --mat-dialog-container-shape: 0;
}

::ng-deep .mat-mdc-slide-toggle .mat-internal-form-field.mdc-form-field--align-end {
  width: 100%;
  justify-content: space-between;
}

::ng-deep .mat-mdc-slide-toggle .mat-internal-form-field.mdc-form-field--align-end .mdc-label {
  margin: 0;
}

::ng-deep .section-bg .mat-mdc-form-field-infix {
  /* --mat-form-field-container-vertical-padding: 0; */
  padding-bottom: 0;
}
