@let isFailed = download().status === downloadStatus.FAILED;
@let hasError = isFailed && download().error;

@if (activeVideo() !== download().id) {
  @let audioPoster = 'assets/images/audio.webp';
  @let videoPoster = download().thumbnailPath || `/images/video-${download().videoId}.jpg`;
  @let isAbleToOpen = download().type !== 'thumbnail' && !!download().filePath;
  @let isUnknowAudio = download().platform === platform.UNKNOWN && download().type === 'audio';

  <rt-card
    [imageSourceUrl]="isUnknowAudio ? audioPoster : videoPoster"
    [retry]="!!download().thumbnailPath || !!download().videoId"
    (cardClick)="openVideo(download(), isAbleToOpen)"
    imgSize="204x116"
    alt="Video poster"
    mockMessage="Poster%20not%20found"
    [imageClass]="
      (isAbleToOpen ? 'cursor-pointer aspect-video' : 'aspect-video') + (isUnknowAudio ? ' object-contain!' : '')
    "
    [customClass]="'w-full h-auto rounded-md overflow-hidden no-shadow ' + (hasError ? 'hidden lg:block' : '')"
  />
} @else {
  <div class="relative w-full h-auto rounded-md overflow-hidden no-shadow">
    <video
      #previewVideo
      [src]="videoUrl()"
      (click)="openVideo(download(), true, $event)"
      controls
      autoplay
      preload="metadata"
      type="video/mp4"
      class="w-full h-auto no-shadow"
    ></video>
  </div>
}
