@let isActive = download().status === downloadStatus.RUNNING || download().status === downloadStatus.QUEUED;
@let isPathAvailable = !!download().filePath;

<div class="flex items-center justify-end gap-3 shrink-0 absolute top-5 right-5 lg:static">
  @if (!isActive) {
    @if (isPathAvailable) {
      <button mat-icon-button matTooltip="Save to my device" (click)="saveAs(download())">
        <mat-icon>save_alt</mat-icon>
      </button>
    }

    <button mat-icon-button matTooltip="Retry" (click)="retry.emit()">
      <mat-icon>refresh</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Remove from list" (click)="remove.emit()">
      <mat-icon class="text-red-500!">delete</mat-icon>
    </button>
  }
</div>
